p{
    width: 200px;
    height: 300px;
    padding: 15px;
    border: 10px solid blue;
    margin: 15px;
}

.content > pre{
    width: 250px;
    height: 300px;
    padding: 15px;
    border: 10px solid blue;
    margin: 15px;
}